# ============================
# Python
# ============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
*.log
*.sqlite3
.env
venv/
.venv/
env/
ENV/

# ============================
# Flask / Cache
# ============================
instance/
*.db
*.sqlite
*.pyc
.DS_Store

# ============================
# IDE / Editor
# ============================
.vscode/
.idea/
*.swp
*.swo

# ============================
# App specifici
# ============================
channels.json
recordings/
*.ts
*.mp4
*.mkv

# ============================
# Docker
# ============================
*.pid
*.tar
docker-compose.override.yml
