name: Build and Push Docker Image

on:
  push:
    branches:
      - main   # esegue quando fai push su main
  pull_request:

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v4

      # Step 2: Setup Docker Buildx (necessario per build multi-platform)
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Step 3: Login to DockerHub (usa secret DOCKERHUB_USERNAME e DOCKERHUB_TOKEN)
      - name: Log in to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Step 4: Build e push dell'immagine
      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/twitch-recorder:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/twitch-recorder:${{ github.sha }}
